*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Cairo', sans-serif;
}
@media only screen and (min-width: 768px) {
    .navbar-container-desktop{
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        right: 0;
        z-index: 9999;
    }

    .navbar-container-mobile{
        display: none;
    }

    .navbar-header{
        text-align: center;
        width: 100%;
        height: 35px;
        background-color: black;
        vertical-align: middle;
        line-height: 35px;
        font-size: 18px;
    }
    .navbar-header a{
        color: white;
        text-decoration: none;
        margin-left: 2rem;
        margin-right: 1rem;
    }

    .navbar-header a:hover{
        color: teal;
        text-decoration: underline;
        transition: 0.25s;
    }

    .contact-container-desktop{
        display: grid;
        grid-template-columns: 50% 50%;
        width: 75%;
        height: 50vh;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        margin-top: 7%;
        left: 0;
        right: 0;
    }

    .grid-item1{
        background-color: blue;
        vertical-align: middle;
        line-height: 225%;
        padding: 13%;
    }

    .grid-item2{
        background-color: orange;
    }

    .form-label{
        font-weight: 400;
    }

    .text-input{
        border: none;
        border-radius: 5px;
        height: 40px;
        width: 50%;
        text-align: center;
        font-size: 16px;
        font-weight: 300;
        outline: none;
    }

    textarea{
        width: 300px;
        height: 125px;
        border: none;
        border-radius: 5px;
        outline: none;
        padding: 2%;
        resize: none;
    }

    .submit-btn{
        border: none;
        width: 150px;
        height: 35px;
        font-weight: 500;
        border-radius: 5px;
    }
    
    .submit-btn:hover{
        background-color: lightgray;
        color: teal;
    }
}