*{
    box-sizing: border-box;
    margin: 0;
    padding: 0%;
    scroll-behavior: smooth;
}

/* Desktop Styles */

@media only screen and (min-width: 768px){

    html {
        scroll-padding-top: 35px; /* height of sticky header */
    }

    .heading-wrapper{
        width: 100%;
        height: 100vh;
    }

    .welcome{
        font-family: 'Cairo', sans-serif;
        width: max-content;
        text-align: center;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        font-weight: bold;
        font-size: 1.25vw;
        max-width: 100%;
        position: relative;
    }
    .welcome-img{
        margin-top: 40px;
        border-radius: 50%;
        width: 60%;
        height: 60%;
        box-shadow: 8px 8px 10px #aaa;
        max-width: 100%;
    }

    .welcome-name{
        font-size: 30px;
    }

    .welcome-titles{
        font-size: 22px;
    }

    .navbar-container-desktop{
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        right: 0;
        z-index: 9999;
    }

    .navbar-container-mobile{
        display: none;
    }

    .navbar-header{
        width: 100%;
        height: 35px;
        background-color: black;
        vertical-align: middle;
        line-height: 35px;
        font-size: 18px;
    }

    .pic{
        padding: 0.5%;
    }

    .pic:hover{
        color: teal;
        transition: 0.25s;
    }

    .navbar-items{
        color: white;
        text-decoration: none;
        margin-left: 2rem;
    }

    .navbar-items:hover{
        color: teal;
        transition: 0.25s;
    }

    .socials{
        float: right;
        width: 25%;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10%;
        right: 1%;
        background-image: linear-gradient(to right, black, teal 95%);
        
    }

    .about-container{
        height: 100vh;
        max-width: 100%;
        width: 100%;
        background-image: url('../components/images/newark.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        position: absolute;
    }

    .about{
        background-color: rgba(0, 0, 0, 0.6);
        width: 100%;
        max-width: 100%;
        height: 100vh;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        position: relative;
        z-index: 1;
        line-height: 1.5em;

    }

    .about-description{
        max-width: 35rem;
        min-width: 25rem;
        height: fit-content;
        font-size: 18px;
        border-radius: 5px;
        padding: 1% 1% 1% 1%;
        color: white;
        font-size: 20px;
        margin-left: 5rem;
    }

    .school-img{
        max-width: 15%;
        max-height: 25%;
    }

    .socials-mobile, .newark-mobile-img{
        display: none;
    }

    .projects-container{
        margin-top: 2%;
        height: 70vh;
        width: 90%;
        position: relative;
        margin-right: auto;
        margin-left: auto;
        left: 0;
        right: 0;
        margin-bottom: 2%;
    }

    .project-text{
        width: 75%;
        height: 20%;
        padding: 2%;
        margin-left: auto;
        margin-right: auto;
        left: 0%;
        right: 0%;
        background-color: teal;
        box-shadow: 0px 0px 5px 0px black;
        justify-content: center;
        align-items: center;
        display: flex;
        border-radius: 5px;
    }

    .project-links-grid{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 1%;
    }

    .cell{
        display: flex;
        height: 200%;
        width: 100%;
        align-items: center;
        justify-content: center;
        box-shadow: 1px 10px 15px 0px black;
        border-radius: 5px;
    }

    .cell-img1{
        height: 25%;
        width: 60%;
    }

    .cell-img2{
        height: 50%;
        width: 40%;
    }

    .cell-img3{
        height: 55%;
        width: 35%;
    }

    .cell-description{
        display: flex;
        position: absolute;
        width: 30%;
        height: 35%;
        background: rgb(0, 128, 128);
        color: white;
        visibility: hidden;
        opacity: 0;
        transition: opacity .2s, visibility .2s;
        justify-content: center;
        align-items: center;
        font-size: 20px;
        border-radius: 5px;
        box-shadow: 1px 1px 5px 1px black;
        text-shadow: 1px 1px 10px black;
        font-size: 16px;
        padding: 2%;
        text-align: center;
    }

    .link{
        color: white;
        font-size: 20px;
        text-align: center;
    }

    .cell:hover .cell-description{
        visibility: visible;
        opacity: 1;
    }

    .project-text{
        position: relative;
        text-align: center;
    }


    .contact-container-desktop{
        position: relative;
        width: 75%;
        margin-bottom: 1rem;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        padding-top: 1%;
        left: 0;
        right: 0;
    }

    .contact-header{
        font-size: 17px;
    }

    .icon-container{
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 75%;
        margin-bottom: 3%;
    }

    .icons{
        list-style-type: none;
        height: 30%;
        width: 10%;
        text-decoration: none;
    }

    .icon-link:hover{
        color: lightgray;
    }

    .icon-link{
        text-decoration: none;
        color: white;
        text-shadow: 1px 1px 5px rgba(0,0,0,0.3);
    }

    .heading-ruler{
        opacity: 0.2;
    }
}
