*{
    box-sizing: border-box;
    margin: 0;
    padding: 0%;
    scroll-behavior: smooth;
}

/* Desktop Styles */

@media only screen and (min-width: 768px){

    html {
        scroll-padding-top: 50px; /* height of sticky header */
    }

    .heading-wrapper{
        width: 100%;
        height: 100vh;
    }

    .welcome{
        font-family: 'Cairo', sans-serif;
        width: max-content;
        text-align: center;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        font-weight: bold;
        font-size: 1.25vw;
        max-width: 100%;
        position: relative;
    }
    .welcome-img{
        margin-top: 40px;
        border-radius: 50%;
        width: 60%;
        height: 60%;
        box-shadow: 8px 8px 10px #aaa;
        max-width: 100%;
    }

    .welcome-name{
        font-size: 30px;
    }

    .welcome-titles{
        font-size: 22px;
    }

    .navbar-container-desktop{
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        right: 0;
        z-index: 9999;
    }

    .navbar-container-mobile{
        display: none;
    }

    .navbar-header{
        text-align: center;
        width: 100%;
        height: 35px;
        background-color: black;
        vertical-align: middle;
        line-height: 35px;
        font-size: 18px;
    }
    .navbar-header a{
        color: white;
        text-decoration: none;
        margin-left: 2rem;
        margin-right: 1rem;
    }

    .navbar-header a:hover{
        color: teal;
        text-decoration: underline;
        transition: 0.25s;
    }

    .about-container{
        height: 100vh;
        max-width: 100%;
        width: 100%;
        background-image: url('../components/images/newark.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        position: absolute;
    }

    .about{
        background-color: rgba(0, 0, 0, 0.6);
        width: 100%;
        max-width: 100%;
        height: 100vh;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        position: relative;
        z-index: 1;
        line-height: 1.5em;

    }

    .about-description{
        max-width: 35rem;
        min-width: 25rem;
        height: fit-content;
        font-size: 18px;
        border-radius: 5px;
        padding: 1% 1% 1% 1%;
        color: white;
        font-size: 20px;
        margin-left: 5rem;
    }

    .school-img{
        max-width: 15%;
        max-height: 25%;
    }
}